@model SlidEagle.Models.ItemRStyleViewModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Item</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="@Model.Item.ItemId" />
            <div class="form-group">
                <label asp-for="@Model.Item.Name" class="control-label"></label>
                <input asp-for="@Model.Item.Name" class="form-control" />
                <span asp-validation-for="@Model.Item.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.RideStyles">RideStyle select</label>
                <select asp-for="@Model.Item.RideStyle" class="form-control" asp-items="@Model.RideStyles">
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.Price" class="control-label"></label>
                <input asp-for="@Model.Item.Price" class="form-control" />
                <span asp-validation-for="@Model.Item.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.Image" class="control-label"></label>
                <input asp-for="@Model.Item.Image" class="form-control" />
                <span asp-validation-for="@Model.Item.Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Item.Description" class="control-label"></label>
                <input asp-for="@Model.Item.Description" class="form-control" />
                <span asp-validation-for="@Model.Item.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
